<meta name="viewport" content="width=device-width" />
<title>@ConfigData.Title</title>
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.min.css" />